@import "tailwindcss";

@layer base {
  :root {
    --background: #f5f7fa;
    --foreground: #2277df;

    &.dark {
      --background: #232323;
      --foreground: #63b8f1;
    }
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
