@import "tailwindcss";

@layer base {
  :root {
    --background: #f5f7fa;
    --foreground: #169745;

    &.dark {
      --background: #232323;
      --foreground: #63f1a8;
    }
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
